* {
    //background-color: white;
    padding: 0;
    margin: 0;

}
#main {
    
    width:100%;
    height:99.9%;
    //border: 4px solid darkgreen;
    overflow: hidden;
}
#topbar {
    //border: 5px dotted darkmagenta;
    background-color: darkgray;
    height: 15%;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60;
    //margin-bottom: 1%;
}

#lateralmenu {
    //border: 5px solid red;
    float: left;
    height: 85%;
    width: 15%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#body {
    float:left;
    //border: 5px dotted darkmagenta;
    margin: 0;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    overflow-y: scroll;
    height: auto;
    width: 82%;
    height: 80%;
    justify-content: center;


}

#bottom {
    //border: 5px dotted darkmagenta;
}

div.left {
    float:left;
}

div.right {
    float:right
}

div {
    //border: 5px dotted blue;
}

.clickbutton:link, a.linkbutton:visited {
    border: 4px solid darkgreen;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.clickbutton:hover   {
    background-color: limegreen;
    color:white;
}

.clickbutton:active {
    background-color: darkgreen;
}

a.linkbutton:link, a.linkbutton:visited {
    
    width: 150px;
    height: 20px;
    border: 4px solid darkgreen;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.linkbutton:hover   {
    background-color: limegreen;
    color:white;
}

a.linkbutton:active {
    background-color: darkgreen;
}

a {
    text-decoration: none;
    color: black;
}

ul.menu {

list-style-type: none;
margin: 0;
padding: 0;
width: 100%;
background-color: black;
height: 100%;


}
ul.menu li {
    color:white;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0px;
    padding-right: 0px;
    
}

ul.menu li:hover {
    background-color: dimgrey;

}

ul.menu li a{
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

ul.menu li a.active{
  background-color: #4CAF50;
  color: white;
}

input[type=text]:focus {
  border: 3px solid #555;
}



table {
  text-align: center;
  align-content: center;
  border: 1px solid black

}

th {
  background-color: DodgerBlue;
  border-style: solid;
}

td {
  background-color: MediumSeaGreen;
    text-align: left;
    padding-right: 5px;
}

td.zero {
    background-color: lightcoral;
}

td.user {
    background-color: lightblue;
}

button {
    width: 180px;
    height: 50px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.delete {
    border: 4px solid red;
    background-color:white;
    color:black;
}

.delete:hover {
    background-color: red;
    color:white
}